@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Urbanist', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}
