.container {
  min-height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  color: #eeeeee;
  background: url('/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

@media (min-width: 855px) {
  .hero {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
  }

  .hero span {
    display: block;
    font-size: 20px;
  }

  .hero .title {
    font-size: 50px;
  }

  .footer {
    width: 100%;
    padding: 0.5rem;
  }

  .icongroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .icon {
    fill: white;
    width: auto;
    display: inline;
    margin: 13px;
  }

  .icon:hover {
    fill: #c2c2c2;
    transition: 0.1s;
  }
}

@media (min-width: 0px) and (max-width: 854px) {
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 24vh;
  }

  .hero span {
    display: block;
    font-size: 17px;
  }

  .hero .title {
    font-size: 40px;
  }

  .footer {
    width: 100%;
    padding: 0.5rem;
  }

  .icongroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 25vh;
  }

  .icon {
    fill: white;
    width: auto;
    display: inline;
    margin: 13px;
  }

  .icon:hover {
    fill: #c2c2c2;
    transition: 0.1s;
  }
}
